<h1 class="mb-3">Students</h1>

<%= link_to "Add Student",
            new_school_admin_student_path,
            class: "btn btn-primary mb-3" %>

<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.email %></td>
      <td>
        <span class="text-muted">—</span>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
